<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Handle Bars</title>
</head>
<body>
<ul>
    <li>
        <a href="/">Home Page</a>
    </li>
    <li>
        <a href="/about">About Page</a>
    </li>
</ul>
{{{body}}}

</body>
</html>